body {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    width: 100%;
}

.album-page-title {
    width: min(80%, 800px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .title {
        margin: 0;
        padding: 3rem;
        text-align: center;
    }
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgb(179, 179, 179);
    width: min(100%, 1200px);
}

.subtitle {
    margin-top: 3rem;
}

.song-list {
    width: 100%;

    .song-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: min(95%, 1000px);
        font-family: 'Open Sans';
    
        margin-top: 1rem;
        margin-bottom: 1rem;
    
        p {
            margin: 0;
            font-size: 3rem;
            color: #5f5f5f;
            text-align: center;

            padding: 1rem;
        }
    
        .song-title {
            font-weight: 400;
            margin: 0;
            font-size: 3rem;
            text-align: center;
        }
    
        img {
            height: 5rem;
        }
    }
}

.album-link {

    img {
        width: 20rem;
    }
}

.awards {
    font-family: 'Open Sans';
    color: #5f5f5f;
    font-size: 3rem;

    padding-bottom: 3rem;

    width: min(100%, 1500px);

    .title {
        color: black;
        font-size: 8rem;
    }

    .subtitle {
        color: black;
    }

    .peak-date, .peak-position, .weeks-on-chart {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        justify-items: center;
        
        .title {
            margin: 1rem;
        }

        p {
            text-align: center;
        }
    }

    
}

.mayerland-rating {

    .title {
        margin: 0;
        padding: 0;
    }
}