body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    color: #5f5f5f;
    font-size: 3rem;
    font-family: 'Open Sans';
    margin: 0;
}

.title {
    margin: 3rem;
}

#main-badges {
    margin-bottom: 20rem;
}

#pedal-badges {
    margin-bottom: 3rem;
}

#user-stats-cont {
    margin-top: 3.5rem;
    
    div {
        text-align: center;
    }
}

.badge-cont {
    border: 2px transparent solid;
    border-radius: 10px;
    width: min(900px, 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    overflow: hidden;
    transition: 0.3s all;

    p {
        width: 100%;
        text-align: center;
        padding: 1rem;
        border-bottom: 2px transparent solid;
    }

    .badge-desc {
        display: none;

        width: 80%;
        text-align: center;
        border: none;
        font-size: 2rem;
        font-family: 'Open Sans';
    }

    .body {
        color: #bdbdbd;
        cursor: default;
    }
}

.earned {
    border-color: black;
    cursor: text;

    p {
        border-color: black;
    }

    .badge-desc {
        display: block;
    }

    .body {
        cursor: text;
    }
}

#main-badges > .earned.badge-cont {
    
    .badge-desc {
        color: #5f5f5f;
    }

    p {
        color: rgb(100, 212, 240);
    }
}

#gold-badges > .earned.badge-cont {
    // box-shadow: 0px 0px 15px rgba(240, 200, 0, 0.8);
    box-shadow: 0px 0px 10px #73ECFF;

    .badge-desc {
        color: #5f5f5f;
    }

    p {
        color:#ff48c4;
    }
}

.tippy-box[data-theme~='custom'] {
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: visible;

    .tippy-content {
        padding: 1rem;
        font-size: 1.75rem;
    }
}

#badges-title-cont {
    margin-bottom: 3rem;

    .subtitle {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .body {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
}